.navbar-custom {
    background-color: #000; /* Couleur de fond noire */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #eeece5; /* Couleur du texte en jaune */
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .nav-link:hover {    
    color: #faba09; /* Couleur du texte au survol */
}

.header {
    position: relative;
    height: 400px; // Ajustez la hauteur selon vos besoins
    // background: url('/images/header-background.jpg') no-repeat center center;
    background-color: aqua;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.header .search-form {
    background: rgba(0, 0, 0, 0.6); // Légère transparence pour le fond du formulaire
    padding: 1rem;
    border-radius: 5px;
    display: inline-block;
}

.header .search-form input[type="text"] {
    width: 250px;
    margin-right: 0.5rem;
}

.header .search-form button {
    background-color: #ffcc00; // Couleur du bouton de recherche
    color: #000; // Couleur du texte du bouton
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}