{% extends 'base.html.twig' %}

{% block title %}Edit Proprietes{% endblock %}

{% block body %}
    <h1>Edit Proprietes</h1>

    {{ include('proprietes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_proprietes_index') }}">back to list</a>

    {{ include('proprietes/_delete_form.html.twig') }}
{% endblock %}
