{% extends 'base.html.twig' %}

{% block title %}New Proprietes{% endblock %}

{% block body %}
    <h1>Create new Proprietes</h1>

    {{ include('proprietes/_form.html.twig') }}

    <a href="{{ path('app_proprietes_index') }}">back to list</a>
{% endblock %}
