{% extends 'base.html.twig' %}

{% block title %}New TypesProprietes{% endblock %}

{% block body %}
    <h1>Create new TypesProprietes</h1>

    {{ include('types_proprietes/_form.html.twig') }}

    <a href="{{ path('app_types_proprietes_index') }}">back to list</a>
{% endblock %}
